@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
h1 {
	
  text-align: center;
	font-family:'Roboto Condensed',sans-serif;
	line-height: 1.5em;
   margin: 2em;
  font-size:40px;
}
hr{
  width:200px;
}
p {
  text-align: center;
   font-family: times new roman;
   font-size: 18px;
   line-height: 1.5em;
   margin: 2em;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

footer{
  text-align: center;
  padding: 1em 0;
}

header{
  background-color: #FFED74;
  border: 1px black solid;
  padding :20px;
}
nav{
  background-color: #E8C66A;
}

article{
  background-color: #E89C6C;
}
footer{
  background-color: #FF957E;

}
div{
  background-color: #FFE2B8;
}

