@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body{
	
  text-align:right;
  background-color: #fff;
  font-family:  'Chelsea Market', cursive;
}
h1{
	text-align:right; 
}
hr{
  width:200px;
}
p{
   font-family: palatino, georgia, serif;
   line-height: 1.5em;
   margin: 2em;
  font-size:28px;
}